<form #formControl="ngForm" (ngSubmit)="onLogin(formControl)"
      style="text-align: left">

    <table>
        <td><img width="250" src="assets/images/Files.jpg" style></td>

        <td style="vertical-align: top; padding-right: 50px; padding-left: 50px">
            <h2>
                <fileman-logo></fileman-logo>
                Login
            </h2>
            <div class="alert alert-danger" *ngIf="formControl.errors">
                {{errorMessage}}
            </div>

            <br>

            <table>
                <tr class="form-group">
                    <td>
                        <label for="userId">User ID</label>
                    </td>
                    <td>
                        <input required minlength="3" maxlength="32"
                            ngModel name="userId" #userIdControl="ngModel"
                            id="userId" type="text" class="form-Control"/>
                    </td>
                </tr>

                <tr>&nbsp;</tr>

                <tr class="form-group">
                    <td>
                        <label for="userPw">Password&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <input ngModel name="userPw" id="userPw" type="password" class="form-Control"/>
                    </td>
                </tr>

                <tr>&nbsp;</tr>

                <tr class="form-group">
                  <td>
                      <label for="tenant">Tenant</label>
                  </td>
                  <td>
                      <select ngModel name="tenant" id="tenant" class="form-Control">
                          <option *ngFor="let tenant of tenants" [value]="tenant.id">{{tenant.name}}</option>
                      </select>
                  </td>
              </tr>

              <tr>&nbsp;</tr>

            </table>

            <div class="alert alert-danger"
                *ngIf="userIdControl.touched && !userIdControl.valid">
                <div *ngIf="userIdControl.errors.minlength">
                    The {{userIdControl.name}} must exceed {{ userIdControl.errors.minlength.requiredLength}} characters.
                </div>
                <div *ngIf="userIdControl.errors.required">
                    This field is required.
                </div>
            </div>

            <button class="btn btn-primary"
                    [disabled]="!formControl.valid"
                    [ngStyle]="{
                                'color': formControl.valid ? 'white' : 'black',
                                'backgroundColor': formControl.valid ? 'blue' : 'gray'
                            }"
                    >Login</button>

        </td>

        <td><img width="250" src="assets/images/Files.jpg"></td>

    </table>

</form>
