<fileman-toolbar [layoutMode]="'list'"
                 [isFavouriteFilterActive]="false"
                 (output-alias)="onLayoutClick($event)" 
                 (logoutHandler)="onLogoutClick()"
                 (refreshHandler)="onReloadClick()"
                 (favouriteFilterHandler)="onFavouriteFilterClick($event)"
                 (searchHandler)="searchFor($event)">
    <span class="username right">{{authService.getCurrentUserName()}} &nbsp;</span>
</fileman-toolbar>


<hr style="background: blue">

<h5>Hosted Files:</h5>
<div *ngIf="allFilesMap.size == 0">
    <i>None.</i>
</div>
<div *ngIf="viewedFiles.length == 0 && allFilesMap.size > 0">
    <i>No file matches your filter.</i>
</div>


<div [ngSwitch]="layoutType">
        <div *ngSwitchCase="'list'">

        <li *ngFor="let file of viewedFiles; trackBy: trackFiles let i = index" 
            class="list-group-item">
            <mat-icon data-toggle="tooltip" title="Download" (click)="download(file)">arrow_downwards</mat-icon>
            &nbsp;
            <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Edit" (click)="edit(file)">edit</mat-icon>
            &nbsp;
            <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(file)">delete</mat-icon>
            &nbsp;
            <mat-icon data-toggle="tooltip" title="{{getFavouriteTooltip(file)}}" (click)="markFavourite(file)"               
                      [ngStyle]="{'blue': 'yellow', 'backgroundColor': 'yellow'}">{{getFavouriteIcon(file)}}</mat-icon>
            &nbsp;
            {{i+1}}. {{file.name}}
        </li>
    </div>
    
    <div *ngSwitchCase="'table'">
        <table>
            <tr style="font-weight:bold; background-color:darkgray;">
                <td></td>
                <td></td>
                <td>
                    File Name
                    <fileman-sorticon [sortField]="'name'" (sortEventHandler)="sort($event)"></fileman-sorticon>
                </td>
                <td>
                    Creator
                    <fileman-sorticon [sortField]="'creator'" (sortEventHandler)="sort($event)"></fileman-sorticon>
                </td>
            </tr>
            <tr *ngFor="let file of viewedFiles; trackBy: trackFiles let i = index">
                <td>{{i+1}}.</td>
                <td><mat-icon data-toggle="tooltip" title="ToDo: Open Action Menu" (click)="openPullDown(file)">more_vert</mat-icon></td>
                <td>{{file.name}}</td>
                <td>{{file.creator}}</td>
            </tr>
        </table>

    </div>
   
    <div *ngSwitchCase="'tiles'">
        ToDo: implement tiles layout
   </div>
</div>
