.mat-icon {
  color: blue;
  background: lightgoldenrodyellow;
  cursor: pointer;
}

.image-preview {
  max-height: 300px;
  max-width: 300px;
}

.text-preview {
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 30; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.docx-preview {
  height: 208vh;
}

.pdf-preview {
  display: block;
  max-width: 300px;
}
