.mat-icon {
  color: blue;
  background: lightgoldenrodyellow;
  cursor: pointer;
}

.image-preview {
  max-width: 300px;
  max-height: 300px;
}

.text-preview {
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 30; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.docx-preview {
  overflow: hidden;
  width: 300px;
  height: 980px;
}

::ng-deep img {
  max-width: 300px;
  max-height: 300px;
}

.pdf-preview {
  display: block;
  max-width: 300px;
}

::ng-deep .inner-html-enclosing-div {
  text-align: left;
}

::ng-deep .inner-html-left-span {
  float: left;
  width: 50%;
}
