<hr style="background: blue">

<h5>FileGroups:</h5>
<div *ngIf="allFileGroupsMap.size == 0">
    <i>None.</i>
</div>
<div *ngIf="viewedFileGroups.length == 0 && allFileGroupsMap.size > 0">
    <i>No fileGroup matches your filter.</i>
</div>

<div [ngSwitch]="userPreferences.layoutType">
    <div *ngSwitchCase="layoutTypeList">
        <fileman-fileGroup-list-layout
          [viewedFileGroups]="viewedFileGroups"
          [readOnly]="readOnly"
          (fileGroupEdited)="edit($event)"
          (fileGroupDeleted)="delete($event)">
        </fileman-fileGroup-list-layout>
    </div>
    <div *ngSwitchCase="layoutTypeTable">
      <fileman-fileGroup-table-layout
        [viewedFileGroups]="viewedFileGroups"
        [readOnly]="readOnly"
        (fileGroupEdited)="edit($event)"
        (fileGroupDeleted)="delete($event)">
      </fileman-fileGroup-table-layout>
    </div>
    <div *ngSwitchCase="layoutTypeTiles">
        <fileman-fileGroup-tiles-layout
          [viewedFileGroups]="viewedFileGroups"
          [readOnly]="readOnly"
          (fileGroupEdited)="edit($event)"
          (fileGroupDeleted)="delete($event)">
        </fileman-fileGroup-tiles-layout>
    </div>
</div>