<li *ngFor="let <<type>> of viewed<<Type>>s; let i = index"
    class="list-group-item">

    <span *ngIf="! readOnly">
        &nbsp;
        <mat-icon data-toggle="tooltip" title="Edit" (click)="edit(<<type>>)">edit</mat-icon>
    </span>

    <span *ngIf="! readOnly">
        &nbsp;
        <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(<<type>>)">delete</mat-icon>
    </span>

    <span tooltip="{{getDetailsTooltip(<<type>>)}}">
        {{i+1}}. {{<<type>>.name}}
    </span>
</li>
