<hr style="background: blue">

<h5>Tenants:</h5>
<div *ngIf="allTenantsMap.size == 0">
    <i>None.</i>
</div>
<div *ngIf="viewedTenants.length == 0 && allTenantsMap.size > 0">
    <i>No tenant matches your filter.</i>
</div>

<div [ngSwitch]="userPreferences.layoutType">
    <div *ngSwitchCase="layoutTypeList">
        <fileman-tenant-list-layout
          [viewedTenants]="viewedTenants"
          [readOnly]="readOnly"
          (tenantEdited)="edit($event)"
          (tenantDeleted)="delete($event)">
        </fileman-tenant-list-layout>
    </div>
    <div *ngSwitchCase="layoutTypeTable">
      <fileman-tenant-table-layout
        [viewedTenants]="viewedTenants"
        [readOnly]="readOnly"
        (tenantEdited)="edit($event)"
        (tenantDeleted)="delete($event)">
      </fileman-tenant-table-layout>
    </div>
    <div *ngSwitchCase="layoutTypeTiles">
        <fileman-tenant-tiles-layout
          [viewedTenants]="viewedTenants"
          [readOnly]="readOnly"
          (tenantEdited)="edit($event)"
          (tenantDeleted)="delete($event)">
        </fileman-tenant-tiles-layout>
    </div>
</div>