<mat-toolbar>

    <fileman-logo></fileman-logo>

    <span class="separator">|</span>

    <mat-icon data-toggle="tooltip" title="Change to List Layout"
              (click)="onLayoutClick(layoutTypeList)"
              [ngStyle]="{
              'color': userComponentState.layoutType === layoutTypeList ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': userComponentState.layoutType === layoutTypeList ? 'lightgray' : 'blue'}"
              >{{iconList}}</mat-icon>
    <mat-icon data-toggle="tooltip" title="Change to Table Layout"
              (click)="onLayoutClick(layoutTypeTable)"
              disabled="layoutType.equals(layoutTypeTable)"
              [ngStyle]="{
              'color': userComponentState.layoutType === layoutTypeTable ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': userComponentState.layoutType === layoutTypeTable ? 'lightgray' : 'blue'}"
              style="margin-left: 5px;"
              >{{iconTable}}</mat-icon>
    <mat-icon data-toggle="tooltip" title="Change to Tiles Layout"
              (click)="onLayoutClick(layoutTypeTiles)"
              disabled="layoutType.equals(layoutTypeTiles)"
              [ngStyle]="{
              'color': userComponentState.layoutType === layoutTypeTiles ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': userComponentState.layoutType === layoutTypeTiles ? 'lightgray' : 'blue'}"
              style="margin-left: 5px;"
              >{{iconTiles}}</mat-icon>

    <span class="separator">|</span>

    <mat-icon data-toggle="tooltip" title="{{getAddNewToolTip()}}"
              (click)="onNewClick()"
              [ngStyle]="{
              'color': readOnly ? 'azure' : 'lightgoldenrodyellow',
              'backgroundColor': readOnly ? 'lightgray' : 'blue'}"
              >{{iconNew}}</mat-icon>

    <mat-icon data-toggle="tooltip" title="Reload from server"
              (click)="onReloadClick()"
              style="margin-left: 5px;"
              >{{iconReload}}</mat-icon>

    <span class="separator">|</span>

    <mat-icon data-toggle="tooltip"
              title="Type text to search for file(s)"
              style="color: gray; background: lavender;"
              >{{iconSearch}}</mat-icon>

    <input type="text" #searchString
           [ngModel]="userComponentState.searchString"
           (keyup)="startSearch(searchString.value)"
           [ngStyle]="{'max-width.px': 200}"
           style="background: lavender; margin-left: 5px;">

    <mat-icon *ngIf="showFavouriteIcon"
              data-toggle="tooltip"
              title="Favourite Filter"
              (click)="onFavouriteFilterClick()"
              [ngStyle]="{
              'color': 'blue',
              'backgroundColor': 'lavender'}"
              style="margin-left: 5px;"
              >{{favouriteFilterIcon}}</mat-icon>

    <span *ngIf="isAdmin">
        <span class="separator">|</span>
        <mat-icon data-toggle="tooltip"
                  title="Select content of overview"
                  style="color: gray; background: lightyellow;"
                  >{{iconSettings}}</mat-icon>
        <select
          id="contentTypeSelect"
          #contentTypeSelect
          style="background: lightyellow; margin-left: 5px;"
          (change)="onContentTypeChange(contentTypeSelect.value)">
            <option
              [value]="contentTypeFiles"
              [selected]="userComponentState.contentType === contentTypeFiles">Files</option>
            <option
              [value]="contentTypeUsers"
              [selected]="userComponentState.contentType === contentTypeUsers">Users</option>
        </select>
    </span>

    <span class="spacer"></span>

    <mat-icon data-toggle="tooltip" title="Logout"
            (click)="onLogout()"
            >{{iconLogout}}</mat-icon>

    <span style="margin-left: 5px;">
      <ng-content select=".username"></ng-content>
    </span>

</mat-toolbar>

<!--
    <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
        <input mdbInput type="text" id="form2" class="form-control">
        <label for="form2">Example label</label>
    </div>
-->

<!--
    icons:
    settings-application
    delete
-->
