<mat-toolbar>

    <fileman-logo></fileman-logo>

    <span class="separator">|</span>

    <mat-icon data-toggle="tooltip" title="{{getAddNewToolTip()}}"
          (click)="onNewClick()"
          [ngStyle]="{
          'color': readOnly ? 'azure' : 'lightgoldenrodyellow',
          'backgroundColor': readOnly ? 'lightgray' : 'blue'}"
          style="margin-left: 2px;"
          >{{iconNew}}</mat-icon>

    <mat-icon data-toggle="tooltip" title="Reload from server"
              (click)="onReloadClick()"
              style="margin-left: 5px; margin-right: 2px;"
              >{{iconReload}}</mat-icon>

    <span class="separator">|</span>

    Layout:
    <mat-icon data-toggle="tooltip" title="Change to List Layout"
              (click)="onLayoutClick(layoutTypeList)"
              [ngStyle]="{
              'color': userPreferences.layoutType === layoutTypeList ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': userPreferences.layoutType === layoutTypeList ? 'lightgray' : 'blue'}"
              style="margin-left: 10px;"
              >{{iconList}}</mat-icon>
    <mat-icon data-toggle="tooltip" title="Change to Table Layout"
              (click)="onLayoutClick(layoutTypeTable)"
              disabled="layoutType.equals(layoutTypeTable)"
              [ngStyle]="{
              'color': userPreferences.layoutType === layoutTypeTable ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': userPreferences.layoutType === layoutTypeTable ? 'lightgray' : 'blue'}"
              style="margin-left: 5px;"
              >{{iconTable}}</mat-icon>
    <mat-icon data-toggle="tooltip" title="Change to Tiles Layout"
              (click)="onLayoutClick(layoutTypeTiles)"
              disabled="layoutType.equals(layoutTypeTiles)"
              [ngStyle]="{
              'color': userPreferences.layoutType === layoutTypeTiles ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': userPreferences.layoutType === layoutTypeTiles ? 'lightgray' : 'blue'}"
              style="margin-left: 5px; margin-right: 2px;"
              >{{iconTiles}}</mat-icon>

    <span class="separator">|</span>

    Search:
    <input type="text" #searchString
           [ngModel]="getSearchString()"
           (keyup)="startSearch(searchString.value)"
           [ngStyle]="{'max-width.px': 200}"
           style="background: lavender; margin-left: 10px;">

    <mat-icon *ngIf="showFavouriteIcon"
              data-toggle="tooltip"
              title="Favourite Filter"
              (click)="onFavouriteFilterClick()"
              [ngStyle]="{
              'color': 'blue',
              'backgroundColor': 'lavender'}"
              style="margin-left: 10px;"
              >{{favouriteFilterIcon}}</mat-icon>

    <span *ngIf="isAdmin" class="separator" style="margin-left: 12px;">|</span>
    <span *ngIf="isAdmin">Display:</span>
    <select *ngIf="isAdmin"
      id="contentTypeSelect"
      #contentTypeSelect
      style="background: lightyellow; margin-left: 10px;"
      (change)="onContentTypeChange(contentTypeSelect.value)">
        <option
          [value]="contentTypeFiles"
          [selected]="userPreferences.contentType === contentTypeFiles">Files</option>
        <option
          [value]="contentTypeUsers"
          [selected]="userPreferences.contentType === contentTypeUsers">Users</option>
        <option
          [value]="contentTypeTenants"
          [selected]="userPreferences.contentType === contentTypeTenants">Tenants</option>
        <option
          [value]="contentTypeFileGroups"
          [selected]="userPreferences.contentType === contentTypeFileGroups">File Groups</option>
    </select>
    &nbsp;
    <mat-icon *ngIf="isAdmin"
              data-toggle="tooltip"
              title="Login to Database"
              style="color: gray; background: lightyellow; margin-left: 5px;"
              (click)="openDbLink()"
              >{{iconDatabase}}</mat-icon>

    <span class="spacer"></span>

    <mat-icon data-toggle="tooltip" title="Logout"
            (click)="onLogout()"
            style="margin-left: 10px;"
            >{{iconLogout}}</mat-icon>

    <span style="margin-left: 5px;">
      <ng-content select=".username"></ng-content>
    </span>

</mat-toolbar>

<!--
    <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
        <input mdbInput type="text" id="form2" class="form-control">
        <label for="form2">Example label</label>
    </div>
-->

<!--
    icons:
    settings-application
    delete
-->
