<span>

    <fileman-logo></fileman-logo>

    &nbsp;|&nbsp;

    <mat-icon data-toggle="tooltip" title="Change to List Layout"
              (click)="onLayoutClick('list')"
              [ngStyle]="{
              'color': layoutType === 'list' ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': layoutType === 'list' ? 'lightgray' : 'blue'}">
              list
    </mat-icon>
    <mat-icon data-toggle="tooltip" title="Change to Table Layout"
              (click)="onLayoutClick('table')"
              disabled="layoutType.equals('table')"
              [ngStyle]="{
              'color': layoutType === 'table' ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': layoutType === 'table' ? 'lightgray' : 'blue'}">
              border_all
    </mat-icon>
    <mat-icon data-toggle="tooltip" title="Change to Tiles Layout"
              (click)="onLayoutClick('tiles')"
              disabled="layoutType.equals('tiles')"
              [ngStyle]="{
              'color': layoutType === 'tiles' ? '#777777' : 'lightgoldenrodyellow',
              'backgroundColor': layoutType === 'tiles' ? 'lightgray' : 'blue'}">
              view_module
    </mat-icon>

    &nbsp;|&nbsp;
    
    <mat-icon data-toggle="tooltip" title="{{getAddNewToolTip()}}"
              (click)="onNewClick()"
              [ngStyle]="{
              'color': readOnly ? 'azure' : 'lightgoldenrodyellow',
              'backgroundColor': readOnly ? 'lightgray' : 'blue'}"
    >note_add</mat-icon>
    &nbsp;
    <mat-icon data-toggle="tooltip" title="Reload from server"
              (click)="onRefreshClick()"
    >refresh</mat-icon>


    &nbsp;|&nbsp;

    <mat-icon data-toggle="tooltip" title="Type text to search for file(s)" style="color: gray; background: lavender;"
    >find_in_page</mat-icon> 

    <input type="text" #searchString 
           (keyup)="startSearch(searchString.value)" 
           [ngStyle]="{'max-width.px': 200}"
           style="background: lavender;">

    <mat-icon data-toggle="tooltip" title="Favourite Filter"
              (click)="onFavouriteFilterClick()"
              [ngStyle]="{
              'color': 'blue',
              'backgroundColor': 'lavender'}"> 
        {{favouriteFilterIcon}}
    </mat-icon>

    <span *ngIf="isAdmin">
        &nbsp;|&nbsp;
        <mat-icon data-toggle="tooltip" title="Select content of overview" style="color: gray; background: lightyellow;"
        >settings_application</mat-icon> 
        <select id="contentType" style="background: lightyellow;">
            <option [value]="'Files'">Files</option>
            <option [value]="'Users'">Users</option>
            </select>
    </span>

    <mat-icon data-toggle="tooltip" title="Logout"
            (click)="onLogout()"
            class="right">
            exit_to_app
    </mat-icon>

    <ng-content select=".username"></ng-content>

</span>


<!--
    <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
        <input mdbInput type="text" id="form2" class="form-control">
        <label for="form2">Example label</label>
    </div>
-->

<!--
    icons:
    settings-application
    delete
-->


