            <div *ngIf="nameC.errors?.required && nameC.touched">
               The field <i>Name</i> is required.
            </div>
            <div *ngIf="nameC.errors?.minlength && nameC.touched">
               Minimum length of field <i>Name</i> is {{nameC.errors.minlength.requiredLength}}.
            </div>
            <div *ngIf="nameC.errors?.isNotUnique">
               The value for field <i>Name</i> must be unique! <i>{{nameC.value}}</i> is not unique.
            </div>
            <div *ngIf="roleC.errors?.required && roleC.touched">
               The field <i>Role</i> is required.
            </div>
            <div *ngIf="passwordC.errors?.minlength && passwordC.touched">
               Minimum length of field <i>Password</i> is {{passwordC.errors.minlength.requiredLength}}.
            </div>
            <div *ngIf="passwordRepetitionC.errors?.minlength && passwordRepetitionC.touched">
               Minimum length of field <i>PasswordRepetition</i> is {{passwordRepetitionC.errors.minlength.requiredLength}}.
            </div>