<div class="tiles-grid">
  <div *ngFor="let <<type>> of viewed<<Type>>s; let i = index"
       class="tiles-item">
    <td width="40">
      <span *ngIf="! readOnly">
          <mat-icon  data-toggle="tooltip" title="Edit" (click)="edit(<<type>>)">edit</mat-icon>
      </span>
      <br>
      <span *ngIf="! readOnly">
          <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(<<type>>)">delete</mat-icon>
      </span>
    </td>
    <td>
      <span tooltip="{{getDetailsTooltip(<<type>>)}}">
          {{i+1}}. {{<<type>>.name}}
          <div>
            <img class="image-preview" *ngIf="hasImagePreview(<<type>>.name)" [src]="getImagePreview(<<type>>.name)">
            <span class="text-preview" *ngIf="hasTextPreview(<<type>>.name)">{{ getTextPreview(<<type>>.name) }}</span>
            <ngx-doc-viewer
              class="docx-preview"
              *ngIf="hasDocxPreview(<<type>>.name)"
              [url]="getDocxPreview(<<type>>.name)"
              viewer="mammoth">
            </ngx-doc-viewer>
            <pdf-viewer class="pdf-preview" *ngIf="hasPdfPreview(<<type>>.name)"
              [src]="getPdfPreview(<<type>>.name)"
              [render-text]="true"
              [show-all]="false"
              [original-size]="false">
            </pdf-viewer>
          </div>
      </span>
    </td>
  </div>
</div>
