<li *ngFor="let fileGroup of viewedFileGroups; let i = index"
    class="list-group-item">

    <span *ngIf="! readOnly">
        &nbsp;
        <mat-icon data-toggle="tooltip" title="Edit" (click)="edit(fileGroup)">edit</mat-icon>
    </span>

    <span *ngIf="! readOnly">
        &nbsp;
        <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(fileGroup)">delete</mat-icon>
    </span>

    <span tooltip="{{getDetailsTooltip(fileGroup)}}">
        {{i+1}}. {{fileGroup.name}}
    </span>
</li>