<div class="tiles-grid">
  <div *ngFor="let user of viewedUsers; let i = index"
      class="tiles-item">
    <td width="40">
      <span *ngIf="! readOnly">
          <mat-icon  data-toggle="tooltip" title="Edit" (click)="edit(user)">edit</mat-icon>
      </span>
      <br>
      <span *ngIf="! readOnly">
          <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(user)">delete</mat-icon>
      </span>
    </td>
    <td>
      <span tooltip="{{getDetailsTooltip(user)}}">
          {{i+1}}. {{user.name}}
          <div>
            <img class="image-preview" *ngIf="hasAvatar(user.name)" [src]="getAvatar(user.name)">
          </div>
      </span>
    </td>
  </div>
</div>
