<hr style="background: blue">

<div *ngIf="fileGroups.length > 0" class="file-group-box">
  <p>File groups:</p>
  <input type="checkbox" id="singleSelection" name="singleSelection" style="margin-right: 5px;" [(ngModel)]="isSingleSelectionChecked" (change)="onChangeSingleSelection()">
  <label for="singleSelection" style="margin-right: 10px;">Single selection</label>
  <input type="checkbox" id="not" name="not" style="margin-right: 5px;" [(ngModel)]="isNotSelectionChecked" (change)="onChangeNotSelection()">
  <label for="not" style="margin-right: 10px;">Not</label>
  <input type="radio" id="and" name="andOrSwitch" style="margin-right: 5px;" [value]="true" [(ngModel)]="isAndSelection" (ngModelChange)="onAndOrSwitchSelection()">
  <label for="and" style="margin-right: 5px;">And</label>
  <input type="radio" id="or" name="andOrSwitch" style="margin-right: 5px;" [value]="false" [(ngModel)]="isAndSelection" (ngModelChange)="onAndOrSwitchSelection()">
  <label for="or">Or</label>
  <br>
  <button type="button" [ngClass]="getButtonClassForNoGrouping()" (click)="onButtonPressForNoGrouping()">No grouping</button>
  <span *ngFor="let fileGroup of fileGroups">
      <button *ngIf="fileGroup.files.length > 0" type="button" [ngClass]="getButtonClassForFileGroup(fileGroup)" (click)="onButtonPressForFileGroup(fileGroup)">{{fileGroup.name}}</button>
  </span>
</div>

<h5>Hosted Files:</h5>
<div *ngIf="allFilesMap.size == 0">
    <i>None.</i>
</div>
<div *ngIf="viewedFiles.length == 0 && allFilesMap.size > 0">
    <i>No file matches your filter.</i>
</div>

<div [ngSwitch]="userPreferences.layoutType">
    <div *ngSwitchCase="layoutTypeList">
        <fileman-filemetadata-list-layout
          *ngIf="getValidNonEmptySelectedFileGroups().length == 0"
          [viewedFiles]="viewedFiles"
          [favouriteSettings]="favouriteSettings"
          [readOnly]="readOnly"
          (fileDownloaded)="download($event)"
          (fileEdited)="edit($event)"
          (fileDeleted)="delete($event)"
          (fileHistoryShown)="showHistory($event)"
          (fileFavouriteSettingChanged)="markFavourite($event)">
        </fileman-filemetadata-list-layout>
        <div *ngFor="let fileGroup of getValidNonEmptySelectedFileGroups(); let i = index">
          <button
            type="button"
            class="btn button-group-display-tag">
            {{fileGroup.name}}
          </button>
          <fileman-filemetadata-list-layout
            [viewedFiles]="getViewedFilesForFileGroup(fileGroup)"
            [favouriteSettings]="favouriteSettings"
            [readOnly]="readOnly"
            (fileDownloaded)="download($event)"
            (fileEdited)="edit($event)"
            (fileDeleted)="delete($event)"
            (fileHistoryShown)="showHistory($event)"
            (fileFavouriteSettingChanged)="markFavourite($event)">
          </fileman-filemetadata-list-layout>
          <div
            *ngIf="i < getValidNonEmptySelectedFileGroups().length - 1"
            style="margin-top: 40px;">
            <hr style="background: blue; height: 0.5px">
          </div>
        </div>
    </div>
    <div *ngSwitchCase="layoutTypeTable">
        <fileman-filemetadata-table-layout
          *ngIf="getValidNonEmptySelectedFileGroups().length == 0"
          [viewedFiles]="viewedFiles"
          [favouriteSettings]="favouriteSettings"
          [readOnly]="readOnly"
          (fileDownloaded)="download($event)"
          (fileEdited)="edit($event)"
          (fileDeleted)="delete($event)"
          (fileHistoryShown)="showHistory($event)"
          (fileFavouriteSettingChanged)="markFavourite($event)">
        </fileman-filemetadata-table-layout>
        <div *ngFor="let fileGroup of getValidNonEmptySelectedFileGroups(); let i = index">
          <button
            type="button"
            class="btn button-group-display-tag">
            {{fileGroup.name}}
          </button>
          <fileman-filemetadata-table-layout
            [viewedFiles]="getViewedFilesForFileGroup(fileGroup)"
            [favouriteSettings]="favouriteSettings"
            [readOnly]="readOnly"
            (fileDownloaded)="download($event)"
            (fileEdited)="edit($event)"
            (fileDeleted)="delete($event)"
            (fileHistoryShown)="showHistory($event)"
            (fileFavouriteSettingChanged)="markFavourite($event)">
          </fileman-filemetadata-table-layout>
          <div
            *ngIf="i < getValidNonEmptySelectedFileGroups().length - 1"
            style="margin-top: 40px;">
            <hr style="background: blue; height: 0.5px">
          </div>
        </div>
    </div>
    <div *ngSwitchCase="layoutTypeTiles">
        <fileman-filemetadata-tiles-layout
          *ngIf="getValidNonEmptySelectedFileGroups().length == 0"
          [viewedFiles]="viewedFiles"
          [favouriteSettings]="favouriteSettings"
          [readOnly]="readOnly"
          (fileDownloaded)="download($event)"
          (fileEdited)="edit($event)"
          (fileDeleted)="delete($event)"
          (fileHistoryShown)="showHistory($event)"
          (fileFavouriteSettingChanged)="markFavourite($event)">
        </fileman-filemetadata-tiles-layout>
        <div *ngFor="let fileGroup of getValidNonEmptySelectedFileGroups(); let i = index">
          <button
            type="button"
            class="btn button-group-display-tag">
            {{fileGroup.name}}
          </button>
          <fileman-filemetadata-tiles-layout
            [viewedFiles]="getViewedFilesForFileGroup(fileGroup)"
            [favouriteSettings]="favouriteSettings"
            [readOnly]="readOnly"
            (fileDownloaded)="download($event)"
            (fileEdited)="edit($event)"
            (fileDeleted)="delete($event)"
            (fileHistoryShown)="showHistory($event)"
            (fileFavouriteSettingChanged)="markFavourite($event)">
          </fileman-filemetadata-tiles-layout>
          <div
            *ngIf="i < getValidNonEmptySelectedFileGroups().length - 1"
            style="margin-top: 40px;">
            <hr style="background: blue; height: 0.5px">
          </div>
        </div>
    </div>
</div>
