.mat-icon {
    color: blue;
    background: lightgoldenrodyellow;
    cursor: pointer;
}

.button-group-select {
  margin-right: 10px;
  margin-bottom: 10px;
}

.button-group-display-tag {
  pointer-events: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

.file-group-box {
  border: 1px solid lightgrey;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}
