<hr style="background: blue">

<h5>Hosted Files:</h5>
<div *ngIf="allFilesMap.size == 0">
    <i>None.</i>
</div>
<div *ngIf="viewedFiles.length == 0 && allFilesMap.size > 0">
    <i>No file matches your filter.</i>
</div>

<div [ngSwitch]="layoutType">
    <div *ngSwitchCase="layoutTypeList">
        <fileman-filemetadata-list-layout
          [viewedFiles]="viewedFiles"
          [favouriteSettings]="favouriteSettings"
          [readOnly]="readOnly"
          (fileDownloaded)="download($event)"
          (fileEdited)="edit($event)"
          (fileDeleted)="delete($event)"
          (fileHistoryShown)="showHistory($event)"
          (fileFavouriteSettingChanged)="markFavourite($event)">
        </fileman-filemetadata-list-layout>
    </div>
    <div *ngSwitchCase="layoutTypeTable">
        <fileman-filemetadata-table-layout
          [viewedFiles]="viewedFiles"
          [favouriteSettings]="favouriteSettings"
          [readOnly]="readOnly"
          (fileDownloaded)="download($event)"
          (fileEdited)="edit($event)"
          (fileDeleted)="delete($event)"
          (fileHistoryShown)="showHistory($event)"
          (fileFavouriteSettingChanged)="markFavourite($event)">
        </fileman-filemetadata-table-layout>
    </div>
    <div *ngSwitchCase="layoutTypeTiles">
        <fileman-filemetadata-tiles-layout
          [viewedFiles]="viewedFiles"
          [favouriteSettings]="favouriteSettings"
          [readOnly]="readOnly"
          (fileDownloaded)="download($event)"
          (fileEdited)="edit($event)"
          (fileDeleted)="delete($event)"
          (fileHistoryShown)="showHistory($event)"
          (fileFavouriteSettingChanged)="markFavourite($event)">
        </fileman-filemetadata-tiles-layout>
    </div>
</div>
