table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

.image-preview {
  max-width: 50px;
  max-height: 50px;
}

.mat-icon {
  color: blue;
  background: lightgoldenrodyellow;
  cursor: pointer;
}

.hidden-form-field {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

fileman-sorticon {
  vertical-align: middle;
  display: inline-block;
}

::ng-deep div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .cdk-overlay-pane {
  position: relative;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 220px;
  max-height: 100%;
  transform: none !important;
  background-color: lightyellow
}
