<hr style="background: blue">

<h5><<Type>>s:</h5>
<div *ngIf="all<<Type>>sMap.size == 0">
    <i>None.</i>
</div>
<div *ngIf="viewed<<Type>>s.length == 0 && all<<Type>>sMap.size > 0">
    <i>No <<type>> matches your filter.</i>
</div>

<div [ngSwitch]="userPreferences.layoutType">
    <div *ngSwitchCase="layoutTypeList">
        <fileman-<<type>>-list-layout
          [viewed<<Type>>s]="viewed<<Type>>s"
          [readOnly]="readOnly"
          (<<type>>Edited)="edit($event)"
          (<<type>>Deleted)="delete($event)">
        </fileman-<<type>>-list-layout>
    </div>
    <div *ngSwitchCase="layoutTypeTable">
      <fileman-<<type>>-table-layout
        [viewed<<Type>>s]="viewed<<Type>>s"
        [readOnly]="readOnly"
        (<<type>>Edited)="edit($event)"
        (<<type>>Deleted)="delete($event)">
      </fileman-<<type>>-table-layout>
    </div>
    <div *ngSwitchCase="layoutTypeTiles">
        <fileman-<<type>>-tiles-layout
          [viewed<<Type>>s]="viewed<<Type>>s"
          [readOnly]="readOnly"
          (<<type>>Edited)="edit($event)"
          (<<type>>Deleted)="delete($event)">
        </fileman-<<type>>-tiles-layout>
    </div>
</div>
