<li *ngFor="let file of viewedFiles; trackBy: trackFiles let i = index "
    class="list-group-item">
    <mat-icon data-toggle="tooltip" title="Download" (click)="download(file)">arrow_downwards</mat-icon>
    &nbsp;
    <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Edit" (click)="edit(file)">edit</mat-icon>
    &nbsp;
    <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(file)">delete</mat-icon>
    &nbsp;
    <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Show History" (click)="showHistory(file)">layers</mat-icon>
    &nbsp;
    <mat-icon data-toggle="tooltip" title="{{getFavouriteTooltip(file)}}" (click)="markFavourite(file)"
        [ngStyle]="{'blue': 'yellow', 'backgroundColor': 'lavender'}">{{getFavouriteIcon(file)}}</mat-icon>
    &nbsp;
    <span data-toggle="tooltip" title="{{getDetailsTooltip(file)}}" data-html="true">
        {{i+1}}. {{file.name}}
    </span>
</li>
