.mat-icon {
  color: blue;
  background: lightgoldenrodyellow;
  cursor: pointer;
}

::ng-deep .inner-html-enclosing-div {
  text-align: left;
}

::ng-deep .inner-html-left-span {
  float: left;
  width: 50%;
}
