<li *ngFor="let file of viewedFiles; trackBy: trackFiles let i = index "
    class="list-group-item">
    <mat-icon data-toggle="tooltip" title="Download" (click)="download(file)">{{iconDownload}}</mat-icon>

    <span *ngIf="! readOnly">
        &nbsp;
        <mat-icon  data-toggle="tooltip" title="Edit" (click)="edit(file)">{{iconEdit}}</mat-icon>
    </span>

    <span *ngIf="! readOnly">
        &nbsp;
        <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(file)">{{iconDelete}}</mat-icon>
    </span>

    &nbsp;
    <mat-icon data-toggle="tooltip" title="Show History" (click)="showHistory(file)">{{iconShowHistory}}</mat-icon>
    &nbsp;

    <mat-icon data-toggle="tooltip" title="{{getFavouriteTooltip(file)}}" (click)="changeFavouriteSetting(file)"
        [ngStyle]="{'blue': 'yellow', 'backgroundColor': 'lavender'}">{{getFavouriteIcon(file)}}</mat-icon>
    &nbsp;
    <span>
        {{i+1}}. {{file.name}}
    </span>
</li>
