        <table class="form-group" formGroupName="detailsForm">
            <tr>
                <td>
                    <label for="name">Name</label>
                    <br>
                    <input id="name" type="text" class="form-Control" formControlName="nameControl"/>
                </td>
				 <td class="space"></td>
                <td>
                    <label for="description">Description</label>
                    <br>
                    <textarea id="description" class="form-Control" formControlName="descriptionControl"></textarea>
                </td>
            </tr>

            <tr>&nbsp;</tr>

            <tr>
                <td>
                    <label for="immediately Active">Immediately Active</label>
                    <br>
                    <input id="immediatelyActive" type="checkbox" class="form-Control" formControlName="immediatelyActiveControl"/>
                </td>
            </tr>
        </table>