<li *ngFor="let item of viewedItems; let i = index"
    class="list-group-item">

    <span *ngIf="! readOnly">
        &nbsp;
        <mat-icon  data-toggle="tooltip" title="Edit" (click)="edit(item)">edit</mat-icon>
    </span>

    <span *ngIf="! readOnly">
        &nbsp;
        <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(item)">delete</mat-icon>
    </span>

    <span data-toggle="tooltip" title="{{getDetailsTooltip(item)}}" data-html="true">
        {{i+1}}. {{item.id}}
    </span>
</li>