<li *ngFor="let item of viewedItems; let i = index"
    class="list-group-item">
    <td width="40">
      <span *ngIf="! readOnly">
          <mat-icon  data-toggle="tooltip" title="Edit" (click)="edit(item)">edit</mat-icon>
      </span>
      <br>
      <span *ngIf="! readOnly">
          <mat-icon *ngIf="! readOnly" data-toggle="tooltip" title="Delete" (click)="delete(item)">delete</mat-icon>
      </span>
    </td>
    <td>
      <span data-toggle="tooltip" title="{{getDetailsTooltip(item)}}" data-html="true">
          {{i+1}}. {{item.id}}
          <div>
            <img class="image-preview" *ngIf="hasImagePreview(item.name)" [src]="getImagePreview(item.name)">
            <span class="text-preview" *ngIf="hasTextPreview(item.name)">{{ getTextPreview(item.id) }}</span>
            <ngx-doc-viewer
              class="docx-preview"
              *ngIf="hasDocxPreview(item.id)"
              [url]="getDocxPreview(item.id)"
              viewer="mammoth">
            </ngx-doc-viewer>
            <pdf-viewer class="pdf-preview" *ngIf="hasPdfPreview(item.id)"
              [src]="getPdfPreview(item.id)"
              [render-text]="true"
              [show-all]="false"
              [original-size]="false">
            </pdf-viewer>
          </div>
      </span>
    </td>
</li>
